.flexbox-container-1 {
    display: flex; /* create a flexbox container */
    justify-content: center; /* center elements in main axis */
    /*
    justify-content: flex-start; // default
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    */
    align-items: center; /* center elements in cross axis */
    /*
    align-items: flex-start;
    align-items: flex-end;
    align-items: stretch;  //default
    */
    background-color: floralwhite;
}

.flexbox-container-2 {
    display: flex; /* create a flexbox container */
    flex-wrap: wrap; /* elements won't shrink when resizing browser, instead wrapped into different lines */
    align-content:space-around; /* how much space to put between item lines when wrap */
    align-items: center; /* center elements in cross axis */
    height: 300px;
    background-color: grey;

}

.flexbox-container-3 {
    display: flex; /* create a flexbox container */
    flex-direction: column; /* align items vertically */
    justify-content: flex-end; /* need to add height to reflect these */
    align-items: center;
    height: 300px;
    background-color: darkkhaki;
}

.flexbox-container-4 {
    display: flex; /* create a flexbox container */
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 25px;
    flex-shrink: 0; /* avoid shrinking when screen width reduced */
    align-self: flex-start; /* override the align-items set by container */
}

.flexbox-item-2 {
    min-height: 50px;
}

.flexbox-item-3 {
    min-height: 75px;
    flex-grow: 1; /* take up available space in screen, size depends on the number proportionally (propotional to available space to grow)*/
    flex-basis: 0; /* set the initial size of a flex item, so won't respect the width. */
}

.flexbox-item-4 {
    min-height: 25px;
    order: 3; /* change element order without changing the actual html, screen reader will still go through actual html order */
}

.flexbox-item-5 {
    min-height: 50px;
    order: 1;
}

.flexbox-item-6 {
    min-height: 75px;
    order: 2;
}